.hw-form__container{
    color:white;
    background-color: #222329;
    height: 250px;
    width: 100%;
}

.hw-form__container--closed{
    display: none;
}

.hw-form__movie-description-container{
    display: flex;
    justify-content: space-between;
    height: 70%;
}

.hw-form__input-container{
    display: flex;
    flex-direction: column;
}

.hw-form__genre-container{
    margin-left: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hw-form__text-container{
    display: flex;
    flex-direction: column;
}



.hw-form__genres-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    height: 100%;
    border: 2px solid wheat;
    border-radius: 5px;

}

.hw-form__submit-container{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hw-form__file-input{
    display: block;
}

.hw-form__text{
    font-family: Bradley;
}