.hw-form__container{
    color:white;
    background-color: #222329;
    height: 250px;
    width: 100%;
}

.hw-form__container--closed{
    display: none;
}

.hw-form__movie-description-container{
    display: flex;
    justify-content: space-between;
    height: 70%;
}

.hw-form__input-container{
    display: flex;
    flex-direction: column;
    width: 33%;
}

.hw-form__genre-container{
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}

.hw-form__text-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hw-form__genres-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
    height: 100%;
    border: 2px solid wheat;
    border-radius: 5px;
}

.hw-form__submit-container{
    height: 200px;
    width: 33%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    justify-content: space-between;
}

.hw-form__file-input{
    display: block;
}

.hw-form__drop-files{
    height: 40px;
    width: 100%;
    border: 2px dashed wheat;
    background-color: #353336;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.hw-form__text{
    font-family: Bradley;
}

.hw-form__buttons{
    display: flex;
    justify-content: space-between;
}

.hw-form__droped{
    height: 120px;
    width: 100%;
    background-color: green;
    overflow-x: scroll;
}

.hw-form__button{
    padding:  2px 12px 2px 12px;
    outline: none;
    border-radius: 2px;
}

.hw-form__button, .hw-form__button:hover, .hw-form__button:active{
    outline: none;
}

.hw-form__button--green{
    background-color: #1cb824;
}    

.hw-form__button--red{
    background-color: #db1313;
}  

.hw-form__dropped-image{
    height: 120px;
    width: 60px;
}