.hw-nav{
    width: 100%;
}

.hw-nav__container{
    display: flex;
    justify-content: flex-end;
}

.hw-nav__item{
    list-style: none;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
}

.hw-nav__item--hidden{
    display: none;
}

.hw-nav__item:hover{
    color: gold;
}

.hw-nav__text{
    color: #0088CC;
    font-family: Bradley;
    text-decoration: underline;
}
