.hw-nav__container{
    display: flex;
}

.hw-nav__item{
    list-style: none;
    border-right: 1px solid #515151;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
}

.hw-nav__item:hover{
    color: gold;
}

.hw-nav__item--first{
    padding-left: 0;
}

.hw-nav__item--last{
    padding-right: 0;
    border-right: none;
}

.hw-nav__text{
    color: #0088CC;
    font-family: Bradley;
    text-decoration: underline;
}

.hw-nav__container:last-child{
    border-right: none;
}