.hw-header{
    height: 70px;
    width: 100%;
    background-color: #262126;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hw-header__container{
    min-width: 1030px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}