.hw-search__container{
    display: flex;
    justify-content: center;
    border: 1px solid #476280;
    margin-left: 25px;
}

.hw-search__icon{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
}

.hw-search__input{    
    height: 30px;
    background-color: #314052;
    border: none;
}

.hw-search__text{
    font-family: Bradley;
    font-size: 18px;
}

.hw-search__text--dark{
    color: #515151;
}