@font-face{
    font-family: Bradley;
    src: url(./fonts/BradleyHand.ttf);
}

*{
    padding: 0;
    margin: 0;
    font-family: Bradley;
}



#test{
    width: 100%;
    height: 100%;
    display: flex;
}

.hw-app{
    width: 100%;
    height: 100%;
    display: flex;
}

.hw-app__main-container{
    width: 100%;
}

.hw-app__movie-container{
    display: flex;
}

.hw-app__poster-container{
    height: 585px;
    width: 100%;
    background-color: #222329;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.hw-app__poster-container--small{
    height: 335px;
}

.hw-header{
    width: 100%;
    background-color: #262126;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hw-header__container{
    min-width: 1030px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form{
    color:white;
    background-color: black;
    height: 200px;
    width: 200px;
}

.active-link{
    color: #476280;  
}

a{
    display: flex;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:active{
    color : gold;
}