@font-face{
    font-family: Bradley;
    src: url(./fonts/BradleyHand.ttf);
}

*{
    padding: 0;
    margin: 0;
}

#test{
    width: 100%;
    height: 100%;
    display: flex;
}

#hw-app{
    width: 100%;
    height: 100%;
    display: flex;
}

.hw-app__main-container{
    width: 100%;
}

.hw-app__movie-container{
    display: flex;
}

.hw-app__poster-container{
    height: 585px;
    width: 100%;
    background-color: #222329;
}