.hw-poster__container{
    margin: 5px 5px; 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hw-poster__container--border{
    border: 3px solid hsl(118, 94%, 34%);
    box-sizing: border-box;
}

.hw-poster__buttons{
    display: none;
    align-items: center;
    justify-content: flex-end;
    height:27px;
    width: 100%;
    background-color: #222329;
    color: black;
    opacity: 0.95;
    color: white;
    z-index: 1;
}

.hw-poster__button{
    margin-right: 10px;
}

.hw-poster__container:hover .hw-poster__title{
    display: flex;
}

.hw-poster__container:hover .hw-poster__buttons{
    display: flex;
}

.hw-poster__button--green-hover:hover{
    color: green;
}

.hw-poster__button--red-hover:hover{
    color: red;
}

