.hw-poster__container{
    width: 170px;
    height: 247px;
    margin: 5px 5px; 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid wheat;
}

.hw-poster__buttons{
    display: none;
    align-items: center;
    justify-content: flex-end;
    height:27px;
    width: 170px;
    background-color: #222329;
    color: black;
    opacity: 0.95;
    color: white;
    z-index: 1;
}

.hw-poster__button{
    margin-right: 10px;
}

.hw-poster__container:hover .hw-poster__title{
    display: flex;
}

.hw-poster__container:hover .hw-poster__buttons{
    display: flex;
}