.hw-app__main-container{
    width: 100%;
}

.hw-app__movie-container{
    display: flex;
}

.hw-app__poster-container{
    height: 585px;
    width: 100%;
    background-color: #222329;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.hw-app__poster-container--small{
    height: 335px;
}

.hw-header{
    width: 100%;
    background-color: #262126;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hw-header__container{
    min-width: 1030px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hw-header__search-icon{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
}

.hw-header__search-container{
    display: flex;
    justify-content: center;
    border: 1px solid #476280;
    margin-left: 25px;
}

.hw-poster__title{
    font-family: Bradley;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0088CC;
    opacity: 0.8;
    color: white;
    height: 140px;
    width: 140px;
    text-align: center;
    display: none;
    cursor: pointer;
    border-radius: 70px;
    margin-top: 35px;
}