.hw-page__footer{
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hw__footer-social-icons{
    margin-top: 45px;
}

.hw__social-icons{
    display: flex;
    width: 236px;
    justify-content: space-between;
}

.hw__footer-social-link,
.hw__footer-social-link :active
.hw__footer-social-link :visited{
    color: black;
}

.hw__footer-social-link :hover{
    color: #E9714C;
}

.hw__footer-text{
    font-family: SourseSansPro;
}

.hw__footer-text--yellow{
    color: #EBCA98;
}