.hw-page__my-ex{
    display: flex;
    flex-wrap: wrap;
}

.hw__my-ex-image{
    width: 50%;
    height: 360px;
    background: url(../img/my-ex-image.jpg) no-repeat center;
}

/* My Ex Info */
.hw__my-ex-info{
    width: 50%;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hw__my-ex-back--red{
    background-color: #E9714C;
}

.hw_my-ex-list-container{
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}

.hw__my-ex-info-container :first-child{
    margin-bottom: 20px;
}

.hw__ex-list-container :first-child{
    margin-bottom: 10px;
}

.hw__my-ex-list{
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    margin-top: 20px;
}
/*Font*/
.hw__my-ex-text{
    font-family: SourseSansPro;
    font-weight: 15px;
    color: white;
}

.hw__my-ex-text--title-big{
    font-size: 35px;
}

.hw__my-ex-text--title-small{
    font-size: 28px;
}

.hw-my-ex--date-font{
    font-weight: bold;
    color: black;
    font-size: 22px;
}
