.hw-movie-info__container{
    width: 1142.550px;
    background-color: #262127;
    color: white;
}

.hw-movie-info__description-container{
    display: flex;
}

.hw-movie-info__poster-container{
    height: 247px;
    width: 170px;
    background-size: 100% 100%;
    border: 1px solid white;
    margin-left: 60px;
    background-repeat: no-repeat;
}

.hw-movie-info__overview-container{
    width: 450px;
    height: 100px;
    overflow-y: scroll;
    margin-bottom: 30px;    
}

.hw-movie-info__info-container{
    margin-left: 60px;
}

.hw-movie-info__genre-container{
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}

.hw-movie-info__recomindation-container{
    margin-left: 60px;
}

.hw-movie-info__recomindation-list{
    width: 80%;
    height: 200px;
    overflow-x: scroll; 
    float: left;
    display: flex;    
}

.hw-movie-info__text{
    color: white;
}